[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aerich = "*"
tortoise-orm = "*"
asyncpg = "*"
aioredis = "*"
loguru = "*"
jedi = "==0.17.2"
uvloop = "*"
ujson = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.9"
